{% extends "employee_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
   {% csrf_token %}

    {{form.nom|as_crispy_field}}
    {{form.prenom|as_crispy_field}}

    <div class="row">
       <div class="col-md-4">{{form.CIN|as_crispy_field}}</div>
        <div class="col-md-4">{{form.adresse|as_crispy_field}}</div>
        <div class="col-md-4">{{form.telephone|as_crispy_field}}</div>
        <div class="col-md-4">{{form.Username|as_crispy_field}}</div>
        <div class="col-md-4">{{form.salaire|as_crispy_field}}</div>
        <div class="col-md-8">{{form.grade|as_crispy_field}}</div>

</div>
    <br/>
<div class="row">
    <div class="col-md-8">
        <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>Submit</button>
    </div>
    <div class="col-md-4">
        <a href="{% url 'employee_list'%}" class=" btn btn-secondary btn-block btn-lg">
            <i class="fas fa-stream">Retour</i>
        </a>
    </div>
</div>


</form>
{% endblock content %}